**/*.o
**/*.so
**/*.Po
**/*.a
**/config.log
**/config.h
**/hello-world
**/simple-server
**/http-client
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
*.vcxproj
aeon.dir/
*.filters
*.pdb
*.log
*.lastbuildstate
*.tlog
*.opendb
*.db
*.sln
Debug/
build/
Release/
