**/*.o
**/*.so
**/*.Po
**/*.a
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
*.vcxproj
aeon.dir/
*.filters
*.pdb
*.log
*.lastbuildstate
*.tlog
*.opendb
*.db
*.sln
build/
docs/_build/
CMakeUserPresets.json
